body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

#kartta-alue {
    height: 100%;
    width: 100%;

}

img.harmaa {
    filter: grayscale(1);
}

.leaflet-tooltip {
    font-family: "Inter", sans-serif;
    font-size: 1.1em;
}


.pvmAika {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1100;
    font-size: 16px;
    padding: 24px;
    color: #ffffff;
    background: #444444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-right: 10px #444444 solid;
    width: 300px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }
  
  .aika {
    font-size: 3em;
    color: #ffffff;
  }
  
  .pvm {
    margin-top: 12px;
    font-size: 1.75em;
  }
  