body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

#kartta-alue {
    height: 100%;
    width: 100%;

}

img.harmaa {
    filter: grayscale(1);
    cursor: grab;
}

img.punainen {
    filter: hue-rotate(150deg);
}

.laatikko {
  position: fixed;
  color: #ffffff;
  background: #444444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  z-index: 1101;
  box-sizing: border-box;
}


#pvmAika {
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  height: 128px;
  width: 380px;
  font-size: 16px;
  padding: 24px;
  font-weight: 500;
}

#paneeli {
  margin-top: 10px;
  margin-left: 10px;
  padding: 0 10px 10px 10px;
  top: 138px;
  left: -400px;
  min-height: 128px;
  width: 380px;
  transition: left 0.5s ease;
  overflow: auto;
}

.aika {
    
    font-size: 3em;
    color: #ffffff;
}
  
.pvm {
    margin-top: 12px;
    font-size: 1.75em;
}

.leaflet-tooltip {
    font-family: "Inter", sans-serif;
    font-size: 1.1em;
}

#suljeNappula {
  font-size: 35px;
  float: right; 
  text-decoration: none;
  color: #999;
}

h1 {
 font-weight: normal;
 font-size: 110%;
}

@media screen and (max-width: 700px), (max-height: 600px) {
  #pvmAika {
    margin-top: 0;
    margin-left: 0;
    height: 64px;
    width: 160px;
    font-size: 50%;
    padding: 12px;
  }

  .laatikko {
    box-shadow: 0;
    border-radius: 0;
  }

  #paneeli {
    margin-top: 5px;
    margin-left: 0;
    padding: 0 5px 5px 5px;
    top: 64px;
    min-height: 128px;
    width: 228px;
    font-size: 60%;
  }
  
}

/*
  .leaflet-sidebar {
    border-radius:4px;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2000; }
    .leaflet-sidebar.collapsed {
      width: 40px; }
    @media (min-width: 768px) {
      .leaflet-sidebar {
        top: 10px;
        bottom: 10px;
        transition: width 500ms; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .leaflet-sidebar {
        width: 305px;
        max-width: 305px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .leaflet-sidebar {
        width: 390px;
        max-width: 390px; } }
    @media (min-width: 1200px) {
      .leaflet-sidebar {
        width: 460px;
        max-width: 460px; } }
  
  .leaflet-sidebar-left {
    left: 0; }
    @media (min-width: 768px) {
      .leaflet-sidebar-left {
        left: 10px; } }
  
  .leaflet-sidebar-right {
    right: 0; }
    @media (min-width: 768px) {
      .leaflet-sidebar-right {
        right: 10px; } }
  
  .leaflet-sidebar-tabs {
    position:absolute;
    display: block;
    border-radius:4px;
    top: 150px;
    
    height: 100%;
    background-color: #444444; }
  
    .leaflet-sidebar-left .leaflet-sidebar-tabs {
      left: 0; }
    .leaflet-sidebar-right .leaflet-sidebar-tabs {
      right: 0; }
    .leaflet-sidebar-tabs, .leaflet-sidebar-tabs > ul {

      position: absolute;
      width: 40px;
      left: 10px;
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .leaflet-sidebar-tabs > li, .leaflet-sidebar-tabs > ul > li {
        width: 100%;
        margin:-10px;
        height: 40px;
        background-color: #797979;
        font-size: 12pt;
       
        transition: all 80ms; }
        .leaflet-sidebar-tabs > li:hover, .leaflet-sidebar-tabs > ul > li:hover {
          border-top-left-radius:4px;
          color: #ffffff;
          background-color: #ffffff; }
        .leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active {
          border-top-left-radius:4px;
          background-color: #d90000; }
        .leaflet-sidebar-tabs > li.disabled, .leaflet-sidebar-tabs > ul > li.disabled {
          color: rgba(51, 51, 51, 0.4); }
          .leaflet-sidebar-tabs > li.disabled:hover, .leaflet-sidebar-tabs > ul > li.disabled:hover {
            background: transparent; }
          .leaflet-sidebar-tabs > li.disabled > a, .leaflet-sidebar-tabs > ul > li.disabled > a {
            cursor: default; }
        .leaflet-sidebar-tabs > li > a, .leaflet-sidebar-tabs > ul > li > a {
          
          display: block;
          width: 100%;
          height: 100%;
          line-height: 40px;
          color: inherit;
          text-decoration: none;
          text-align: center;
          cursor: pointer; }
    .leaflet-sidebar-tabs > ul + ul {
      bottom: 0; }
  
  .leaflet-sidebar-content {
    
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    top: 140px;
    bottom: 0;
    background-color:#444444;
    overflow-x: hidden;
    overflow-y: hidden; }
    .leaflet-sidebar-left .leaflet-sidebar-content {
      left: 40px;
      right: 0; }
    .leaflet-sidebar-right .leaflet-sidebar-content {
      left: 0;
      right: 40px; }
    .leaflet-sidebar.collapsed > .leaflet-sidebar-content {
      overflow-y: hidden; }
  
  .collapsed > .leaflet-sidebar-content {
    overflow-y: hidden; }
  
  .leaflet-sidebar-pane {
    display: none;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 10px 20px; }
    .leaflet-sidebar-pane.active {
      display: block; }
    @media (min-width: 768px) and (max-width: 991px) {
      .leaflet-sidebar-pane {
        min-width: 265px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .leaflet-sidebar-pane {
        min-width: 350px; } }
    @media (min-width: 1200px) {
      .leaflet-sidebar-pane {
        min-width: 420px; } }
  
  .leaflet-sidebar-header {
   
    margin: -10px -20px 0;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14.4pt;
    color: #fff;
    background-color: #000000; }
    .leaflet-sidebar-right .leaflet-sidebar-header {
      padding-left: 40px; }
  
  .leaflet-sidebar-close {

    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer; }
    .leaflet-sidebar-left .leaflet-sidebar-close {
      right: 0; }
    .leaflet-sidebar-right .leaflet-sidebar-close {
      left: 0; }
  
  .leaflet-sidebar {
    box-shadow:none;
        }
  .leaflet-sidebar-left.leaflet-touch {
    box-shadow: none;
   }
  
  @media (min-width: 768px) {
    .leaflet-sidebar-left ~ .leaflet-control-container .leaflet-left {
      transition: left 500ms; } }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .leaflet-sidebar-left ~ .leaflet-control-container .leaflet-left {
      left: 315px; } }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .leaflet-sidebar-left ~ .leaflet-control-container .leaflet-left {
      left: 400px; } }
  
  @media (min-width: 1200px) {
    .leaflet-sidebar-left ~ .leaflet-control-container .leaflet-left {
      left: 470px; } }
  
  .leaflet-sidebar-left.collapsed ~ .leaflet-control-container .leaflet-left {
    left: 50px; }
  
  .leaflet-sidebar-right.leaflet-touch {
    box-shadow: none;
    border-left: 2px solid rgba(0, 0, 0, 0.2); }
  
  @media (min-width: 768px) {
    .leaflet-sidebar-right ~ .leaflet-control-container .leaflet-right {
      transition: right 500ms; } }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .leaflet-sidebar-right ~ .leaflet-control-container .leaflet-right {
      right: 315px; } }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .leaflet-sidebar-right ~ .leaflet-control-container .leaflet-right {
      right: 400px; } }
  
  @media (min-width: 1200px) {
    .leaflet-sidebar-right ~ .leaflet-control-container .leaflet-right {
      right: 470px; } }
  
  .leaflet-sidebar-right.collapsed ~ .leaflet-control-container .leaflet-right {
    right: 50px; }

    */